body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgrey;
    font-weight: none;
}
.container{
    width: 910px;
    margin-left: 20%;
    background-color: white;
}
header{
    width: 100%;
    height: 380px;
    background-image: url(Images/3309ca1330ca91b55b4feeda3f383031.jpg);
    background-repeat: no-repeat;
    background-size: 100%  100%;
}
input[type="search"]{
    margin: 5px;
    background-color: rgba(36, 3, 126, 0.911) ;
    color:white;
    float:right;
    height: 30px;
}
button{
    margin: 5px;
    background-color: rgba(36, 3, 126, 0.911) ;
    color:#f6f5f5;
    float:right;
    height: 30px;
}
#navbar{
    width: 100%;
    height: 90px;
    background-color: rgba(36, 3, 126, 0.911);
}
#navbar img{
    width: 20%;
    float: left;
}
#navbar ul {
    padding-top: 35px;
}
#navbar ul li {
    display: inline;
    padding: 7px;
 
}
#navbar ul li a {
    text-decoration: none;
    color:#f6f5f5;
    font-size: 14px;
}
#navbar ul li a:hover{
    font-weight:bold ;
}
.kryesore{
    width: 100%;
    height: 1600px;
}
article{
    width: 70%;
    float: left;
}
article h1{
    text-align: center;
    color: #004E7C;
    font-size: 17px;
    padding-bottom: 10px;
    width: 60%;
    margin-left: 20%;
    border-bottom: 1px solid  #B73225;
}
article h5{
    width: 360px;
    padding-left: 5px;
    color: #004E7C;
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid  #B73225;
    margin-left: 5px;;
}
#trajnime{
    float: left;
    width: 30%;
    margin: 5px;
}
#trajnime img{
    width: 90%;
    height: 150px;
}
#trajnime h4{
	text-align: center;
    color: #5C5F58;
    padding-bottom: 5px;
    width: 90%;
    margin: 20px auto;
}
#trajnime p{
    width: 95%;
    margin: 10px auto;
    height: 60px;
}
#trajnime a {
    text-decoration: none;
}
#trajnime a:hover{
    text-decoration: underline;
}
#trajnime p,a{color:#5C5F58 ;}

#end {
    border-top: 1px solid #5C5F58;
    border-bottom: 1px solid #5C5F58;
}
#end img{
    width: 30px;
    height: 30px;
margin-top: 5px;
margin-left: 60px;
border-left: 1px solid black;
}
#end h3{
    font-size: 15px;
    width: 25%;
    float: left;
}
#end h2{
    font-size: 15px;
    width: 25%;

    float: right;
}
aside{
    width: 30%;
    height: 1600px;
    float: right;
    background-color: #f6f5f5;
}
aside h2{
    padding-left: 5px;
    color: #004E7C;
    font-size: 17px;
    padding-bottom: 10px;
    margin-left: 2%;
    width: 70%;
    border-bottom: 1px solid  #B73225;
}
aside h1{
    font-size: 15px;
    color: #5C5F58;
    padding-left: 5px;
    margin-left: 2%;
}
aside a{
    text-decoration: none;
    color: black;
}
aside p{
    border-bottom: 1px solid  #B73225;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 95%;
    margin-left: 2%;
}
#oraristori{
    width: 100%;
    height: 340px;
}
#orari h1{
    color:#004E7C;
    padding: 10px;
    font-size: 17px;
    font-weight: none;
    width: 70%;
    border-bottom: 1px solid  #B73225;
    padding-bottom: 10px;
}
#orari h3{
    width: 69%;
    color: #5C5F58;
    font-size: 15px;
}
#orari p{
    color:#5C5F58 ;
    font-size: 13px;
    font-weight: bold;
}
#orari h2 p {display: inline;}
#orari img{
    padding:10px;
    width:15% ;
    height: 50px;
    float: left;

}
#fund{
    width: 100%;
    height: 200px;
    background-color: brown;
}
#kontakti{
    width: 32%;
    float: left;
}
#kontakti img{
    width: 50px;
    height: 50px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#kontakti p{
    color: #e6d5b8;
    text-align: center;
}
#kontakti a{
    text-decoration: none;
}
